<div class="well">
    <p> Text one: <%= @one %> </p>
    <p> Text two: <%= @two %> </p>
    <p> Difference in both the text files : <%= @highlight %> </p>
    <h2> Text matches <%= @diff_percentage %> % </h2>
</div>